.footer
    .container
        .footer__wrapper
            +footer_section("Latest Posts", "Popular Posts")
            +footer_section("Search", "Contact Information")
            +footer_section("Privacy Policy", "Terms of Use")

            .social
                +image("instagram.svg")
                +image("twitter.svg")
                +image("facebook-f.svg")


.copyright_block
    span.copyright_text © Copyright 2019. All rights reserved.
