header.header
    .social
        +image("instagram.svg")
        +image("twitter.svg")
        +image("facebook-f.svg")
    .text
        h1.text__text Hipsum Blog
    .form
        img(src="./img/icons/search.svg").search__bar
        .button Subscribe